<hr>
<div class="post_navi">
  {%- assign same_category_previous = nil -%}
  {%- assign same_category_next = nil -%}
  
  {%- if page.category -%}
    {%- for post in site.posts -%}
      {%- if post.category == page.category -%}
        {%- if post.date < page.date and (same_category_previous == nil or post.date > same_category_previous.date) -%}
          {%- assign same_category_previous = post -%}
        {%- endif -%}
        {%- if post.date > page.date and (same_category_next == nil or post.date < same_category_next.date) -%}
          {%- assign same_category_next = post -%}
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}

  {%- if page.category and same_category_previous.url -%}
  <a class="post_navi-item nav_prev" href="{{ same_category_previous.url }}" title="{{ same_category_previous.title }}">
    <div class="post_navi-arrow">&lt;</div><div class="post_navi-label">Previous Post</div><div><span>{{ same_category_previous.title }}</span></div>
  </a>
  {%- elsif page.category == nil or same_category_previous.url == nil -%}
  <a class="post_navi-item nav_prev" href="{{ 'archive.html' | absolute_url }}" title="Blog Archive">
    <div class="post_navi-arrow">&lt;</div><div class="post_navi-label">Blog Archive</div><div><span>Archive of all previous blog posts</span></div>
  </a>
  {%- endif -%}

  {%- if page.category and same_category_next.url -%}
  <a class="post_navi-item nav_next" href="{{ same_category_next.url }}" title="{{ same_category_next.title }}">
    <div class="post_navi-arrow">&gt;</div><div class="post_navi-label">Next Post</div><div><span>{{ same_category_next.title }}</span></div>
  </a>
  {%- elsif page.category == nil or same_category_next.url == nil -%}
  <a class="post_navi-item nav_next" href="{{ 'archive.html' | absolute_url }}" title="Blog Archive">
    <div class="post_navi-arrow">&gt;</div><div class="post_navi-label">Blog Archive</div><div><span>Archive of all previous blog posts</span></div>
  </a>
  {%- endif -%}
</div>
