{%- capture pcategory -%}{{page.categories | first}}{%- endcapture -%}
{%- assign sorted_posts = site.categories[pcategory] | reverse -%}


{%- for post in sorted_posts -%}
    {%- if post.url == page.url -%}
		{%- assign currIndex = forloop.index0 -%}
		{%- assign prevIndex = currIndex | minus: 1 -%}
		{%- assign nextIndex = currIndex | plus: 1 -%}
		{%- assign articleIndexLength = forloop.length | minus: 1 -%}

		{%- if currIndex == articleIndexLength -%}
			{%- assign prev_post = sorted_posts[prevIndex] -%}
		{%- endif -%}

		{%- if currIndex < articleIndexLength and currIndex != 0 -%}
			{%- assign prev_post = sorted_posts[prevIndex] -%}
			{%- assign next_post = sorted_posts[nextIndex] -%}
		{%- endif -%}

		{%- if currIndex == 0 -%}
			{%- assign next_post = sorted_posts[nextIndex] -%}
		{%- endif -%}

    {%- endif -%}
{%- endfor -%}

<hr>
<div class="post_navi">
  {%- if prev_post.url -%}
  <a class="post_navi-item nav_prev" href="{{ prev_post.url }}" title="{{ prev_post.title }}">
    <div class="post_navi-arrow">&lt;</div><div class="post_navi-label">Previous Post</div><div><span>{{ prev_post.title }}</span></div>
  </a>
  {%- elsif page.categories == 'harpy' -%}
  <a class="post_navi-item nav_prev" href="{{ 'https://jodasgreat.github.io/chapterlist.html' }}" title="Chapter List">
    <div class="post_navi-arrow">&lt;</div><div class="post_navi-label">Chapter List</div><div><span>White-Winged Harpy</span></div>
  </a>
  {%- else -%}
  <a class="post_navi-item nav_prev" href="{{ 'archive.html' | absolute_url }}" title="Blog Archive">
    <div class="post_navi-arrow">&lt;</div><div class="post_navi-label">Blog Archive</div><div><span>Archive of all previous blog posts</span></div>
  </a>
  {%- endif -%}
  {%- if next_post.url -%}
  <a class="post_navi-item nav_next" href="{{ next_post.url }}" title="{{ next_post.title }}">
    <div class="post_navi-arrow">&gt;</div><div class="post_navi-label">Next Post</div><div><span>{{ next_post.title }}</span></div>
  </a>
  {%- elsif page.categories == 'harpy' -%}
  <a class="post_navi-item nav_next" href="{{ 'https://jodasgreat.github.io/chapterlist.html' }}" title="Chapter List">
    <div class="post_navi-arrow">&gt;</div><div class="post_navi-label">Chapter List</div><div><span>White-Winged Harpy</span></div>
  </a>
  {%- else -%}
  <a class="post_navi-item nav_next" href="{{ 'archive.html' | absolute_url }}" title="Blog Archive">
    <div class="post_navi-arrow">&gt;</div><div class="post_navi-label">Blog Archive</div><div><span>Archive of all previous blog posts</span></div>
  </a>
  {%- endif -%}
</div>
