<hr>
<div class="post_navi">
  {%- assign prev_post = nil -%}
  {%- assign next_post = nil -%}
  
  {%- if page.category -%}
    {%- for post in site.posts -%}
      {%- if post.url == page.previous.url and post.category == page.category -%}
        {%- assign prev_post = page.previous -%}
      {%- endif -%}
      {%- if post.url == page.next.url and post.category == page.category -%}
        {%- assign next_post = page.next -%}
      {%- endif -%}
    {%- endfor -%}
  {%- else -%}
    {%- assign prev_post = page.previous -%}
    {%- assign next_post = page.next -%}
  {%- endif -%}

  {%- if prev_post.url -%}
  <a class="post_navi-item nav_prev" href="{{ prev_post.url }}" title="{{ prev_post.title }}">
    <div class="post_navi-arrow">&lt;</div><div class="post_navi-label">Previous Post</div><div><span>{{ prev_post.title }}</span></div>
  </a>
  {%- else -%}
  <a class="post_navi-item nav_prev" href="{{ 'archive.html' | absolute_url }}" title="Blog Archive">
    <div class="post_navi-arrow">&lt;</div><div class="post_navi-label">Blog Archive</div><div><span>Archive of all previous blog posts</span></div>
  </a>
  {%- endif -%}

  {%- if next_post.url -%}
  <a class="post_navi-item nav_next" href="{{ next_post.url }}" title="{{ next_post.title }}">
    <div class="post_navi-arrow">&gt;</div><div class="post_navi-label">Next Post</div><div><span>{{ next_post.title }}</span></div>
  </a>
  {%- else -%}
  <a class="post_navi-item nav_next" href="{{ 'archive.html' | absolute_url }}" title="Blog Archive">
    <div class="post_navi-arrow">&gt;</div><div class="post_navi-label">Blog Archive</div><div><span>Archive of all previous blog posts</span></div>
  </a>
  {%- endif -%}
</div>
