---
layout: default
---
<link href="/css/override.css" rel="stylesheet" type="text/css">
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

{%- capture pcategory -%}{{page.categories | first}}{%- endcapture -%}
{%- assign sorted_posts = site.categories[pcategory] | reverse -%}
{%- assign listpost = sorted_posts | first -%}

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {% assign author = page.author | default: site.author %}
      {%- if author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ author }}</span></span>
      {%- endif -%}</p>
      {%- if page.translator -%}
            <span><em>Translated by {{ page.translator }}</em></span>
      {%- endif -%}</p>
      {%- if page.editor -%}
            <span><em>Edited by {{ page.editor }}</em></span>
      {%- endif -%}</p>
      {%- if page.notes -%}
		{% for note in page.notes %}
            <span><em>{{ note }}</em></span><br/>
		{% endfor %}
      {%- endif -%}</p>
  </header>

  <div class="share-links">
    {% include sharelinks.html %}
  </div>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
    {% include navlinks.html %}
  </div>

  <div class="navbar" style="text-align:center;">
    {% if prev_post.url %}
      <a style="float:left;" class="prev" href="{{prev_post.url}}">Prev Chapter</a>
    {% endif %}
    {% if pcategory == "harpy" %}
      <a class="list" href="/harpy/">List</a>
    {% else %}
      <a class="list" href="{{ listpost.url }}">List</a>
    {% endif %}
    {% if next_post.url %}
      <a style="float:right;" class="next" href="{{next_post.url}}">Next Chapter</a>
    {% endif %}
  </div>

<script src="https://giscus.app/client.js"
        data-repo="Jodasgreat/jodascomment"
        data-repo-id="R_kgDOQMZoNw"
        data-category="Announcements"
        data-category-id="DIC_kwDOQMZoN84CxRTU"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
